@charset "utf-8";
/* CSS Document */
p{font-family: roboto; font-size: 12px}
h1{font-family: roboto; font: bold; font-size: 20px;}
h2{font-family: roboto; font: bold; font-size: 20px;}
.contents{
	background-color: #10051E;
		overflow: hidden;
}
.contents a{
	
}
